/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    line-height: 1;
}




/*my code*/


/* Main content */


* {
    text-decoration: none;
}


html, body {
    font-family: Helvetica, sans-serif; 
    background-color: #F9F8F8;
    font-size: 16px;
}




@media only screen and (min-width: 800px) {
    
    header {
        width: 70% !important;
        margin: 0 auto;
        height: 430px !important;
        background-image: linear-gradient(rgba(54,67,101,0.43), rgba(54,67,101,0.43)), url(blur-city.jpg) !important;
        background-position: center;
   }
   
   .content-wrapper{
       margin: 0 10% !important;
       padding: 30px 0!important;

   }
   
    .description {
    columns: #364365;
    font-size: 10px !important;
    font-weight: 400 !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    /* Cards*/

    .card-item {
        margin: 15px 0 !important;
        height:100%;
        width: 200px;
        display: inline-block;
        text-align: center;
        padding: 0 10px;
        
    }

    main {
        text-align: center;
    }
    
    .img {
        height: 220px !important;
        background-color: #9B9A9A;
        border-radius: 18px 18px 0 0;
    }
    
    #lable {
        height: 44px;
        box-shadow: 0 1px 3px  #888888;
        border-radius: 0 0 18px 18px;

        
    
    }
    
    
    #lable p {
        color: #F3F3F3;
        text-align: center;
        font-weight: 600;
        line-height: 40px;  
    }
     /*Images*/
    
    
    #img1 {
        background-image: url(Africa.png);
        background-size: cover;
        background-position: top;
    }
    
    
    #img2 {
        background-image: url(Garyvee.png);
        background-size: cover;
        background-position: bottom;
    }
    
    #img3 {
        background-image: url(videos-ben.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    
    .lable1{
        background-color: #FFBD00;
    }
    
    .lable2 {
        background-color: #D32C3F;
    }
    
    .lable3 {
        background-color: #364365
    }


    .line {
        display: none !important;
    }
    
    .low-line {
        display: none !important;
    }
    
    #last-card {
        margin: 40px 10px 0 !important;
    }
    

    .horizontal-align {
        display: flex;
        position: relative;
        width: 30px !important;
    }
    
    .social {
        margin: 15px 10px;
        
    }
    
    footer {
        width: 80% !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }


}



header {
     width: 100%;
     height: 426px;
     background-image: linear-gradient(rgba(54,67,101,0.43), rgba(54,67,101,0.43)), url(city.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;

}



.title {
    font-size: 73px;
    font-weight: 600;
    color: #FFBD00;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    position: relative;
    top: 170px;
}

span   {
    font-size: 26px;
    color: #F3F3F3;
    display: block;
    text-align: center;
    float: center;
}

.content-wrapper {
    margin: 0 10%;
    padding: 5% 0 0 0;
}

.description {
    columns: #364365;
    font-size: 8px;
}



/*Cards*/


.card-item {
    margin: 40px 0;
    height:100%;
}

.img {
    height: 125px;
    background-color: #9B9A9A;
    border-radius: 18px 18px 0 0;
}

#lable {
    height: 44px;
    box-shadow: 0 1px 3px  #888888;
    

}


#lable p {
    color: #F3F3F3;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
    
}
 /*Images*/


#img1 {
    background-image: url(Africa.png);
    background-size: cover;
    background-position: top;
}


#img2 {
    background-image: url(Garyvee.png);
    background-size: cover;
    background-position: bottom;
}

#img3 {
    background-image: url(videos-ben.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.lable1{
    background-color: #FFBD00;
}

.lable2 {
    background-color: #D32C3F;
}

.lable3 {
    background-color: #364365
}


.horizontal-align {
    display: flex;
    position: relative;
    width: 90px;
}

.social {
    margin: 15px 10px;
    
}



hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F3F3F3;
    margin: 0;
    padding: 0;
    position: relative;
    top: 15px;
}

.low-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F3F3F3;
    margin: 1em 0;
    padding: 0;
}

#last-card {
    margin: 40px 0 20px 0;
}
